# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dev virtual environment
.sim-dev/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class